.single_menu {
    position: relative;
    margin-bottom: 75px;
    transition: .3s;
}
.single_menu img {
    width: 33%;
    position: absolute;
    height: 140px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.menu_content {
    padding-left: 200px;
}
.menu_content h4 {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px dashed #c0392b;
    line-height: 2;
    text-transform: capitalize;
}
.menu_content h4 span {
    font-size: 25px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #c0392b;
}
.menu_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
}