.tabla-usuarios {
    margin: 25px 0;
    font-size:  0.9em;
    width: 600px;
    height: auto;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.tabla-usuarios th {
    background-color: rgb(255, 123, 0);
    text-align: left;
    font-weight: bold;
}

.tabla-usuarios th,
.tabla-usuarios td{
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

.tabla-usuarios td:nth-of-type(even) {
    background-color: #f3f3f3;
}

/*  //////////////////////////////////////   */
.tabla-pedidos {
    border-collapse: collapse;
    margin: 25px 0;
    font-size:  1.3em;
    width: 600px;
    height: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.tabla-pedidos th {
    background-color: rgb(255, 123, 0);
    text-align: left;
    font-weight: bold;
}

.tabla-pedidos th,
.tabla-pedidos td{
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

.tabla-pedidos td:nth-of-type(even) {
    background-color: #f3f3f3;
}
/*  //////////////////////////////////////   */

/* FORMULARIO */
.container {
    padding: 16px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

.formulario{
    max-width: 30%;
    margin: auto;
    width: 45%;
    padding: 10px;
  }
  
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }


  @media (max-width: 850px) {
    .tabla-usuarios {
      border-collapse: collapse;
      margin: 25px 0;
      font-size:  0.9em;
      width: 100%;
      height: 600px;
      margin: 80px auto;
      display: flex;
      flex-direction: column;
      }

    .formulario{
      max-width: 100%;
      margin: auto;
      width: 100%;
      padding: 10px;
    }
  }