.ul-promo-generada {
    list-style-type: none;
    width: 500px;
}
.li-promo-generada{
    padding: 10px;
    overflow: auto;
}
.li-promo-generada img {
    float: left;
    margin: 0 15px 0 0;
}
.li-promo-generada p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
    font-size: 14px;
}
.img-promo-generada{
    width: 200px;
    height: 200px;
    margin: 5px;
}
.img-promo{
    width:400px;
    height: 400px;
    margin: 15px;
}
.container {
    padding: 16px;
  }
.formulario{
    max-width: 50%;
    margin: auto;
    width: 80%;
    padding: 10px;
}






section {
    max-width: 100%;
    margin: auto;
    width: 100%;
    padding: 10px;
}
.single_menu {
    position: relative;
    margin-bottom: 0px;
}
.menu_content img {
    width: 20%;
    height: 20%;
}
.menu_content {
    padding-left: 10px;
}
.menu_content h4 {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px dashed #c0392b;
    line-height: 2;
    text-transform: capitalize;
}
.menu_content h4 span {
    font-size: 25px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #c0392b;
}
.menu_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
}
.boton-carrito {
    border-radius: 10px;
    font-size: 15px;
    margin: 10px;
}
.ordernarbtn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 15px;

    height:50%; 
    width:100px;  
    position:relative;
    left:50%;
}
.btn {
	border-radius:0px;
	display:inline-block;
	color:black;
	font: 12px;
}








.container {
    padding: 16px;
  }
.formulario{
    max-width: 50%;
    margin: auto;
    width: 80%;
    padding: 10px;
}
input[type=text], input[type=password], input[type=file] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }  






@media  (max-width: 1260px) {
    .ordernarbtn{
        background-color: #04AA6D;
        color: white;
        font-size: 30px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        opacity: 0.9;
        border-radius: 15px;
    
        height:10%; 
        width:100%;  
        position:static;
        top: auto;
        left: auto;
    }

    .w-25{
        width: 50%;
    }
    .w-75{
        width: 50%;
    }
}


