
li { display: inline; }

.buttonhdr {
    border-radius: 18px;
    font-size: 20px;
    margin: 20px;
}
.tmy {
    border: 2px solid black;
    text-align: center;
}
.loggin { 
    width: 10%;
    text-align: center;
}
.btnmenu-form {
    border-radius: 1px;
    font-size: 15px;
    margin: 5px;
}

#responsive-mobile{
    display:none;
}

@media (max-width: 1808px) {
    .img-principal {
        width: 18%;
    }
    .img-principal-menu {
        width: 19%;
    }
}

@media (max-width: 1698px) {
    .img-principal {
        width: 17%;
    }
    .img-principal-menu {
        width: 19%;
    }
}

@media (max-width: 1698px) {
    .img-principal {
        width: 17%;
    }
    .img-principal-menu {
        width: 19%;
    }
}

@media (max-width: 1300px) {
    #responsive-mobile{
        display: block;
    }
    #responsive-pc{
        display:none;
    }
    .navbar {
        overflow:hidden;
        
      }
      .navbar a {
        float: left;
        font-size: 25px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .img-principal-menu {
        width: 19%;
    }
}

@media  (max-width: 1203px) { 
    .img-logo { display: none; }
    .w-25 { width: 25%; }
    .w-50 { width: 50%; }
    .w-75 { width: 75%; }
    .w-100 { width: 100%; }
    .img-principal {
        margin: 5px;
    }
    .img-principal-menu {
        margin: 0px;
    }
    .loggin { width: 25%; }
}

@media  (max-width: 950px) {
    .flex {
        display:block;
    }
    .ul-main {
        text-align: center;
        }
        
        .li-main {
        display: inline-block;
        }
    .img-principal { 
        margin: 10px;
        width:50%;
        align-items: center;
    }
    .img-principal-menu { 
        margin: 10px;
        width:50%;
    } 
}